<!DOCTYPE html>
<html lang="tr" ng-app="app" ng-controller="mainCtrl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vera Clinic</title>
    <!-- head here -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/fontawesome-all.css">
<link rel="stylesheet" href="css/styles.css">

    <!-- head -->
</head>

<body>
    <!-- Header start -->
    <header class="header container-fluid">
    <div class="header__logo">
        <a href="#" class="logo">
            <img ng-if="desktop" src="images/logo.png" alt="" class="logo__img">
            <img ng-if="mobile" src="images/mobile-logo.png" alt="" class="logo__img">
        </a>
    </div>
    <div class="pull-right">
        <nav>
            <ul id="menu" class="menu">
                <li class="menu__list-item">
                    <a href="index.html" class="menu__link">
                        HOME
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="about_us.html" class="menu__link">
                        ABOUT US

                    </a>
                    <ul class="submenu">
                        <li class="submenu__list-item">
                            <a href="why_us.html" class="submenu__link">
                                Why Us
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="our_doctors.html" class="submenu__link">
                                Our Doctors
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="contact.html" class="submenu__link">
                                Contact
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list-item">
                    <a href="detail.html" class="menu__link">
                        PROCEDURES

                    </a>
                    <ul class="submenu">
                        <li class="submenu__list-item">
                            <a href="#" class="submenu__link">
                                Link 1
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="#" class="submenu__link">
                                Link 2
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="#" class="submenu__link">
                                Link 3
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="#" class="submenu__link">
                                Link 4
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list-item">
                    <a href="blog.html" class="menu__link">
                        BLOG
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__link">
                        <span class="en_flag menu__icon">
                            <img src="images/en_flag.png" alt="">
                        </span>ENGLISH
                    </a>
                    <ul class="submenu">
                        <li class="submenu__list-item">
                            <a href="#" class="submenu__link">
                                <span class="tr_flag menu__icon"></span>TÜRKÇE
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="#" class="submenu__link">
                                <span class="es_flag menu__icon"></span>SPAIN
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu__list-item">
                    <a href="#" class="menu__btn btn btn_green">
                        ENQUIRE
                    </a>
                </li>
            </ul>
            <ul ng-if="mobile" class="menu" id="footerMenu">
                <li class="menu__list-item">
                    <a href="index.html" class="menu__link">
                        <i class="fab fa-whatsapp"></i>WHATSAPP
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="index.html" class="menu__link">
                        <i class="far fa-envelope"></i>MAIL
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="index.html" class="menu__link">
                            <i class="fas fa-map-pin"></i>ADDRESS DESCRIPTION
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <a ng-if="mobile" id="mobileMenu" href="#" class="btn-hamburger">
        <div></div>
        <div></div>
        <div></div>
    </a>
</header>
    <!-- Header end -->
    <section class="content">
        <div class="container-fluid">

            <div class="accordion">
                <div ng-if="desktop" class="spot">
                    <div class="spot__head">
                        <h1 class="title">Countries where we received our patients</h1>
                        <h2 class="subtitle subtitle_pl">
                            <small class="subtitle__small subtitle_pl_small">from</small>
                            <span class="subtitle_gray subtitle_big">on</span>
                            <span class="subtitle_prime-color subtitle_medium">JANUARY</span>
                        </h2>
                    </div>
                    <div id="map_canvas" class="map">

                    </div>
                    <ul class="list">
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0s">
                            <span>15 years</span>
                            <span>Experience</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <span>
                                <strong>over</strong> 30</span>
                            <span> Countries</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.6s">
                            <span>
                                <strong>over</strong> 30.000</span>
                            <span>satishfied patient</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.9s">
                            <span>
                                <strong>over</strong> 400</span>
                            <span>Patient per month</span>
                        </li>
                    </ul>
                </div>



                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0s" data-accordion-slide="1">
                    <div class="inside" style="background-image: url(images/slide1.jpg);">
                        <h1>HAIR TRANSPLANT</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.3s" data-accordion-slide="2">
                    <div style="background-image:url(images/slide2.jpg);" class="inside">
                        <h1>WHOLE BODY SURGERY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.5s" data-accordion-slide="3">
                    <div class="inside" style="background-image: url(images/slide3.jpg);">
                        <h1>COSMETIC DENTISTRY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <ul ng-if="mobile" class="slider-thumb">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Footer start-->
    <footer ng-if="desktop">
    <div class="container-fluid">
        <div class="foot-inner">
            <div class="pull-left">
                <h5>
                    FOLLOW US:
                </h5>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li> -->
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <ul>
                    <li>
                        <a id="footerMail" href="#">
                            <i class="far fa-envelope"></i>
                            <span>info@veraclinic.net</span>
                        </a>
                    </li>
                    <li>
                        <a id="footerTel" href="#">
                            <i class="fas fa-phone"></i>
                            <span>+90 (555) 8888 123</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-whatsapp"></i>
                            <span>+90 (555) 8888 123</span>
                        </a>
                    </li>
                    <li class="chat">
                        <a href="">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="mobile-footer" ng-if="mobile">
    
    <a href="#" id="mobileFooterMenu" class="btn-hamburger">
        <div></div>
        <div></div>
        <div></div>
        <span class="hamburger-text">Communication</span>
    </a>
</div>
<div ng-if="desktop" class="messagge">
    <div class="messagge-header">
        <span class="messagge-icon">
            <i class="fa fa-comments" aria-hidden="true"></i>
        </span>
        <span class="messagge-title">
            Şimdi bize mail gönderin!
        </span>
        <span class="messagge-close">
            <i class="fa fa-times"></i>
        </span>
    </div>
    <div class="messagge-content">
        <div class="messagge-input">
            <input type="text" name="ad" id="ad">
        </div>
        <div class="messagge-input">
            <input type="mail" name="mail" id="mail">
        </div>
        <div class="messagge-input">
            <input type="tel" name="tel" id="tel">
        </div>
        <div class="messagge-input">
            <textarea name="textarea" id="textarea" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="messagge-footer">
        <button class="btn btn-messagge" type="submit">
            <i class="fa fa-paper-plane"></i><span>Mail Gönder</span>
        </button>
    </div>
</div>
<a class="scroll-up">
    <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
</a>
<!-- Scripts here -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/wow.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/match-media.js"></script>
<script src="js/mainCtrl.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2V7XQtDZSOvcJzylGchYrL8nqzfsTsFg"></script>
<script src="js/scripts.js"></script>
    <!-- Footer end -->
</body>

</html>