.ba-head {
    background-color: $counter_color;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 20px 55px;
    color: #fff;
    font-family: $thin_font;
    h1 {
        margin: 0;
        font-size: 30px;
    }
    @include customBreakpoint(768px) {
        margin: 0 -15px;
        padding: 20px 55px 20px 30px;
        h1 {
            font-size: 16px;
        }
    }
}