.ba-head {
    background-color: $counter_color;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 20px 55px;
    color: #fff;
    font-family: $thin_font;
    h1 {
        margin: 0;
        font-size: 30px;
    }
}