.crew {
    h2 {
        text-align: center;
        color: $primary_color;
        font-family: $bold_font;
        margin-bottom: 50px;
    }
}

.employ {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}