.list {
    width: 100%;
    list-style: none;
    @media screen and (max-width: 1600px) {
        margin-top: 20px;
        float: left;
        margin-left: 15px;
        width: 45%;
    }
    @include breakpoint(huges) {
        float: left;
        margin-left: 15px;
        width: 45%;
    }
    @include customBreakpoint(1680px) {
        margin-top: 30px;
    }
    /* @media screen and (max-width:1280px) {
        float: none;
        width: 100%;
    } */
    /* @media screen and (max-height:1024px) {
        float: left;
        margin-left: 15px;
        width: 45%;
    } */
    li {
        span {
            line-height: 1.7;
            position: relative;
            &:first-child {
                color: $primary_color;
                font-size: 20px;
                font-family: $black_font;
            }
            &:last-child {
                font-size: 22px;
                font-family: $regular_font;
                color: $light_gray_color;
            }
            &:first-child,
            &:last-child {
                @include customBreakpoint(1680px) {
                    font-size: 36px;
                }
                @media screen and (max-width:1600px) {
                    font-size: 21px;
                }
                @media screen and (max-width:1280px) and (max-height:933px) {
                    font-size: 18px;
                }
                /* @media screen and (max-height:1024px) {
                    font-size: 18px;
                } */
            }
            strong {
                color: $light_gray_color;
            }
        }
    }
    &-clinic {
        list-style-type: none;
        margin-top: 25px;
        li{
            width: 48.5%;
            /* padding-left: 10px;
            padding-right: 10px; */
            display: inline-block;
            margin-bottom: 28px;
            img{
                max-width: 25px;
            }
        }
        h3{
            margin: 0;
            padding: 0;
            font-size: 11px;
            display: inline-block;
        }
    }
}