.map {
    margin-bottom: 10px;
    @include breakpoint(huges) {
        float: left;
        img{
            height: 260px;
        }
    }
    .spot-subpage & {
        &,
        & img {
            height: 542px;
            width: 100%;
        }
    }
    
}