.spec {
    display: block;
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 30px 15px;
        transition: .3s;
        box-shadow: rgba(0, 0, 0, 0) 0 0 0;
        &:hover {
            box-shadow: rgba(0, 0, 0, .2) 0 0 7px;
        }
    }
    h2 {
        @extend %h2;
    }
    p {
        font-size: 18px;
        line-height: 2;
        font-family: $light_font;
        color: $light_gray_color;
    }
}