.submenu {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    z-index: 1;
    display: block;
    background-color: $primary_color;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: none;
    display: none;
    .menu__list-item:hover & {
        border-bottom: 2px solid darken($primary_color, 15%);
    }
    &__link {
        color: lighten($primary_color, 25%);
        display: block;
        padding: 10px 30px;
        border-bottom: 2px solid darken($primary_color, 15%);
        font-size: 12px;
        .submenu__list-item:last-child & {
            border: none;
        }
        &:hover {
            color: #fff;
            background-color: darken($primary_color, 10%);
        }
    }
}