.subtitle {
    position: relative;
    margin-top: 0;
    &_pl {
        padding-left: 150px;
        &_small {
            padding-left: 115px;
        }
    }
    &__small {
        font-size: 22px;
        display: block;
    }
    &_prime-color {
        color: $primary_color;
        font-family: $black_font;
    }
    &_big {
        font-size: 58px;
    }
    &_medium {
        font-size: 55px;
    }
    &_gray{
        color: $light_gray_color;
    }
}