<header class="header container-fluid">
    <div class="header__logo">
        <a href="/" class="logo">
            <!-- Masaüstünde gösterilecek alan başlangıcı -->
            <img ng-if="desktop" src="images/logo.png" alt="" class="logo__img">
            <!-- Masaüstünde gösterilecek alan bitişi -->
            <!-- Mobilde gösterilecek alan başlangıcı -->
            <img ng-if="mobile" src="images/mobile-logo.png" alt="" class="logo__img">
            <!-- Mobilde gösterilecek alan bitişi -->
        </a>
    </div>
    <div class="pull-right">
        <nav>
            <ul id="menu" class="menu">
                <li class="menu__list-item">
                    <a href="index.html" class="menu__link">
                        HOME
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="about_us.html" class="menu__link">
                        ABOUT US

                    </a>
                    <ul class="submenu">
                        <li class="submenu__list-item">
                            <a href="why_us.html" class="submenu__link">
                                Why Us
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="our_doctors.html" class="submenu__link">
                                Our Doctors
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="contact.html" class="submenu__link">
                                Contact
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list-item">
                    <a href="detail_main.html" class="menu__link">
                        PROCEDURES

                    </a>
                    <ul class="submenu">
                        <li class="submenu__list-item">
                            <a href="detail.html" class="submenu__link">
                                Link 1
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="detail.html" class="submenu__link">
                                Link 2
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="detail.html" class="submenu__link">
                                Link 3
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="detail.html" class="submenu__link">
                                Link 4
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list-item">
                    <a href="blog.html" class="menu__link">
                        BLOG
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__link">
                        <span class="en_flag menu__icon">
                            <img src="images/en_flag.png" alt="">
                        </span>ENGLISH
                    </a>
                    <ul class="submenu">
                        <li class="submenu__list-item">
                            <a href="#" class="submenu__link">
                                <span class="tr_flag menu__icon"></span>TÜRKÇE
                            </a>
                        </li>
                        <li class="submenu__list-item">
                            <a href="#" class="submenu__link">
                                <span class="es_flag menu__icon"></span>SPAIN
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu__list-item">
                    <a href="#" class="menu__btn btn btn_green">
                        ENQUIRE
                    </a>
                </li>
            </ul>
            <!-- Mobilde gösterilecek alan başlangıcı -->
            <ul ng-if="mobile" class="menu" id="footerMenu">
                <li class="menu__list-item">
                    <a href="index.html" class="menu__link">
                        <span class="icon-whatsapp">
                            <img src="images/whatsapp-icon.png" alt="">
                        </span>WHATSAPP
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="index.html" class="menu__link">
                        <span class="icon-mail">
                            <img src="images/mail-icon.png" alt="">
                        </span>MAIL
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="index.html" class="menu__link">
                        <span class="icon-pin">
                            <img src="images/pin-icon.png" alt="">
                        </span>ADDRESS DESCRIPTION
                    </a>
                </li>
            </ul>
            <!-- Mobilde gösterilecek alan bitişi -->
        </nav>
    </div>
    <!-- Mobilde gösterilecek alan başlangıcı -->
    <a ng-if="mobile" id="mobileMenu" href="#" class="btn-hamburger">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <!-- Mobilde gösterilecek alan bitişi -->
</header>