<!DOCTYPE html>
<html lang="tr" ng-app="app" ng-controller="mainCtrl">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vera Clinic | Hakkımızda</title>
    @import "head.html"
    <!-- head -->
</head>

<body>
    <!-- Header start -->
    @import "header.html"
    <!-- Header end -->

    <section class="content">
        <!-- Masaüstünde gösterilecek alan başlangıcı -->
        <div ng-if="desktop" class="container-fluid">
            <div class="breadcrumbs">
                <ul class="container">
                    <li>
                        <a href="#">Homepage</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Masaüstünde gösterilecek alan bitişi -->
        <!-- Mobilde gösterilecek alan başlangıcı -->
        <div ng-if="mobile" class="container-fluid">
            <div class="accordion">
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0s" data-accordion-slide="1">
                    <div class="inside" style="background-image: url(images/slide1.jpg);">
                        <h1>HAIR TRANSPLANT</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.3s" data-accordion-slide="2">
                    <div style="background-image:url(images/slide2.jpg);" class="inside">
                        <h1>WHOLE BODY SURGERY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.5s" data-accordion-slide="3">
                    <div class="inside" style="background-image: url(images/slide3.jpg);">
                        <h1>COSMETIC DENTISTRY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <ul class="slider-thumb">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
        <!-- Mobilde gösterilecek alan bitişi -->

        <div class="container">
            <!-- Masaüstünde gösterilecek alan başlangıcı -->

            <div ng-if="desktop" class="hero-detail-main">
                <h2>Why Hair Transplantation?</h2>
                <p> Hair transplantation is widely considered to be the most effective option for restoring hair because it's
                    a permanent, relatively simple procedure, and it achieves a natural look.
                </p>
            </div>
            <!-- Masaüstünde gösterilecek alan bitişi -->

            <div class="container">

                <!-- Editörden gelecek içerik -->
                <!-- Örnek içerik başlangıcı -->
                <!-- Masaüstünde gösterilecek alan başlangıcı -->

                <div ng-if="desktop">
                    <h3>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, reiciendis!
                    </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae vitae repudiandae alias nesciunt,
                        officiis sint earum amet modi dolores adipisci quaerat in atque ipsam nostrum. Earum odio ullam itaque
                        nemo blanditiis sed soluta voluptas aut! Cupiditate, eveniet, quos qui culpa adipisci dicta fugit
                        animi corporis voluptate quas repudiandae similique provident? Labore accusamus est dignissimos,
                        optio cum enim officiis recusandae similique.
                    </p>
                    <h3>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, reiciendis!
                    </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae vitae repudiandae alias nesciunt,
                        officiis sint earum amet modi dolores adipisci quaerat in atque ipsam nostrum. Earum odio ullam itaque
                        nemo blanditiis sed soluta voluptas aut! Cupiditate, eveniet, quos qui culpa adipisci dicta fugit
                        animi corporis voluptate quas repudiandae similique provident? Labore accusamus est dignissimos,
                        optio cum enim officiis recusandae similique.
                    </p>
                </div>

                <!-- Masaüstünde gösterilecek alan bitişi -->
                <!-- Örnek içerik bitişi -->
                <ul class="categories">
                    <li class="col-sm-4">
                        <a href="#">
                            <img src="images/box-img-1.jpg" alt="">
                            <h4>FUE Hair Transplant</h4>
                            <!-- Masaüstünde gösterilecek alan başlangıcı -->
                            <p ng-if="desktop">The FUE method of Hair Transplantation involves the transferring of follicles from the donor
                                area to the area affected by hair loss. </p>
                            <!-- Masaüstünde gösterilecek alan bitişi -->


                        </a>
                    </li>
                    <li class="col-sm-4">
                        <a href="#">
                            <img src="images/box-img-2.jpg" alt="">
                            <h4>FUE Hair Transplant</h4>
                            <!-- Masaüstünde gösterilecek alan başlangıcı -->
                            <p ng-if="desktop">The FUE method of Hair Transplantation involves the transferring of follicles from the donor
                                area to the area affected by hair loss. </p>
                            <!-- Masaüstünde gösterilecek alan bitişi -->


                        </a>
                    </li>
                    <li class="col-sm-4">
                        <a href="#">
                            <img src="images/box-img-3.jpg" alt="">
                            <h4>FUE Hair Transplant</h4>
                            <!-- Masaüstünde gösterilecek alan başlangıcı -->
                            <p ng-if="desktop">The FUE method of Hair Transplantation involves the transferring of follicles from the donor
                                area to the area affected by hair loss. </p>
                            <!-- Masaüstünde gösterilecek alan bitişi -->


                        </a>
                    </li>
                    <li class="col-sm-4">
                        <a href="#">
                            <img src="images/box-img-1.jpg" alt="">
                            <h4>FUE Hair Transplant</h4>
                            <!-- Masaüstünde gösterilecek alan başlangıcı -->
                            <p ng-if="desktop">The FUE method of Hair Transplantation involves the transferring of follicles from the donor
                                area to the area affected by hair loss. </p>
                            <!-- Masaüstünde gösterilecek alan bitişi -->


                        </a>
                    </li>
                    <li class="col-sm-4">
                        <a href="#">
                            <img src="images/box-img-2.jpg" alt="">
                            <h4>FUE Hair Transplant</h4>
                            <!-- Masaüstünde gösterilecek alan başlangıcı -->
                            <p ng-if="desktop">The FUE method of Hair Transplantation involves the transferring of follicles from the donor
                                area to the area affected by hair loss. </p>
                            <!-- Masaüstünde gösterilecek alan bitişi -->


                        </a>
                    </li>
                    <li class="col-sm-4">
                        <a href="#">
                            <img src="images/box-img-3.jpg" alt="">
                            <h4>FUE Hair Transplant</h4>
                            <!-- Masaüstünde gösterilecek alan başlangıcı -->
                            <p ng-if="desktop">The FUE method of Hair Transplantation involves the transferring of follicles from the donor
                                area to the area affected by hair loss. </p>
                            <!-- Masaüstünde gösterilecek alan bitişi -->


                        </a>
                    </li>
                </ul>
            </div>
            <nav class="text-center" aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- Footer start-->
    @import "footer.html"
    <!-- Footer end -->
</body>

</html>