<!DOCTYPE html>
<html lang="tr" ng-app="app" ng-controller="mainCtrl">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vera Clinic | Hakkımızda</title>
    @import "head.html"
    <!-- head -->
</head>

<body>
    <!-- Header başlangıcı -->
    @import "header.html"
    <!-- Header bitişi -->

    <section class="content">
        <!-- Masaüstünde gösterilecek alan başlangıcı -->
        <div ng-if="desktop" class="container-fluid">
            <div class="breadcrumbs">
                <ul class="container">
                    <li>
                        <a href="#">Homepage</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Masaüstünde gösterilecek alan bitişi -->
        <!-- Mobilde gösterilecek alan başlangıcı -->
        <div ng-if="mobile" class="container-fluid">
            <div class="accordion">
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0s" data-accordion-slide="1">
                    <div class="inside" style="background-image: url(images/slide1.jpg);">
                        <h1>HAIR TRANSPLANT</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.3s" data-accordion-slide="2">
                    <div style="background-image:url(images/slide2.jpg);" class="inside">
                        <h1>WHOLE BODY SURGERY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.5s" data-accordion-slide="3">
                    <div class="inside" style="background-image: url(images/slide3.jpg);">
                        <h1>COSMETIC DENTISTRY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <ul class="slider-thumb">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
        </div>
        <!-- Mobilde gösterilecek alan bitişi -->
        
        <div class="container">

            <div ng-if="desktop" class="hero-detail">
                <img src="images/detail-foto.png" alt="">
            </div>
            <div class="container">

                <!-- Editörden gelecek içerik -->
                <!-- Örnek içerik -->
                <h3>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, reicibitişiis!
                </h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae vitae repudiandae alias nesciunt, officiis
                    sint earum amet modi dolores adipisci quaerat in atque ipsam nostrum. Earum odio ullam itaque nemo blanditiis
                    sed soluta voluptas aut! Cupiditate, eveniet, quos qui culpa adipisci dicta fugit animi corporis voluptate
                    quas repudiandae similique provident? Labore accusamus est dignissimos, optio cum enim officiis recusandae
                    similique.
                </p>
                <h3>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, reicibitişiis!
                </h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae vitae repudiandae alias nesciunt, officiis
                    sint earum amet modi dolores adipisci quaerat in atque ipsam nostrum. Earum odio ullam itaque nemo blanditiis
                    sed soluta voluptas aut! Cupiditate, eveniet, quos qui culpa adipisci dicta fugit animi corporis voluptate
                    quas repudiandae similique provident? Labore accusamus est dignissimos, optio cum enim officiis recusandae
                    similique.
                </p>
                <!-- Örnek içerik -->

            </div>

        </div>
    </section>
    <!-- Footer başlangıcı-->
    @import "footer.html"
    <!-- Footer bitişi -->
</body>

</html>