<!DOCTYPE html>
<html lang="tr" ng-app="app" ng-controller="mainCtrl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vera Clinic</title>
    @import "head.html"
    <!-- head -->
</head>

<body>
    <!-- Header başlangıcı -->
    @import "header.html"
    <!-- Header bitişi -->
    <section class="content">
        <div class="container-fluid">

            <div class="accordion">
                <!-- Masaüstünde gösterilecek alan başlangıcı -->
                <div ng-if="desktop" class="spot">
                    <div class="spot__head">
                        <h1 class="title">Countries where we received our patients</h1>
                        <h2 class="subtitle subtitle_pl">
                            <small class="subtitle__small subtitle_pl_small">from</small>
                            <span class="subtitle_gray subtitle_big">on</span>
                            <span class="subtitle_prime-color subtitle_medium">JANUARY</span>
                        </h2>
                    </div>
                    <div id="map_canvas" class="map">

                    </div>
                    <ul class="list">
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0s">
                            <span>15 years</span>
                            <span>Experience</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <span>
                                <strong>over</strong> 30</span>
                            <span> Countries</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.6s">
                            <span>
                                <strong>over</strong> 30.000</span>
                            <span>satishfied patient</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.9s">
                            <span>
                                <strong>over</strong> 400</span>
                            <span>Patient per month</span>
                        </li>
                    </ul>
                </div>
                <!-- Masaüstünde gösterilecek alan bitişi -->

                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0s" data-accordion-slide="1">
                    <div class="inside" style="background-image: url(images/slide1.jpg);">
                        <h1>HAIR TRANSPLANT</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.3s" data-accordion-slide="2">
                    <div style="background-image:url(images/slide2.jpg);" class="inside">
                        <h1>WHOLE BODY SURGERY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.5s" data-accordion-slide="3">
                    <div class="inside" style="background-image: url(images/slide3.jpg);">
                        <h1>COSMETIC DENTISTRY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Mobilde gösterilecek alan başlangıcı -->

            <ul ng-if="mobile" class="slider-thumb">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
            <div class="welcome" ng-if="mobile">
                <h2>
                    Welcome to Vera Clinic
                </h2>
                <p>
                    We provide affordable medical treatments for patients from all over the world by internationally certified surgeons at best
                    in class hospitals in Turkey at a fraction of the cost in UK. We provide the following services for our
                    patients to make their travel more comfortable.
                </p>
                <ul class="list-clinic">
                    <li>
                        <img src="images/house-icon.png" alt="Accommodation">
                        <h3>Accommodation</h3>
                    </li>
                    <li>
                        <img src="images/medical-icon.png" alt="Medical Pack">
                        <h3>Medical Pack</h3>
                    </li>
                    <li>
                        <img src="images/car-icon.png" alt="Transportation">
                        <h3>Transportation</h3>
                    </li>
                    <li>
                        <img src="images/heart-icon.png" alt="PRP">
                        <h3>PRP</h3>
                    </li>
                    <li>
                        <img src="images/translate-icon.png" alt="Translation Services">
                        <h3>Translation Services</h3>
                    </li>
                    <li>
                        <img src="images/guarantee-icon.png" alt="Guarantee Certificate">
                        <h3>Guarantee Certificate</h3>
                    </li>
                </ul>
            </div>
            <!-- Mobilde gösterilecek alan bitişi -->
        </div>
    </section>
    <!-- Footer başlangıcı-->
    @import "footer.html"
    <!-- Footer bitişi -->
</body>

</html>