<!DOCTYPE html>
<html lang="tr" ng-app="app" ng-controller="mainCtrl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vera Clinic</title>
    @import "head.html"
    <!-- head -->
</head>

<body>
    <!-- Header start -->
    @import "header.html"
    <!-- Header end -->
    <section class="content">
        <div class="container-fluid">

            <div class="accordion">
                <div ng-if="desktop" class="spot">
                    <div class="spot__head">
                        <h1 class="title">Countries where we received our patients</h1>
                        <h2 class="subtitle subtitle_pl">
                            <small class="subtitle__small subtitle_pl_small">from</small>
                            <span class="subtitle_gray subtitle_big">on</span>
                            <span class="subtitle_prime-color subtitle_medium">JANUARY</span>
                        </h2>
                    </div>
                    <div id="map_canvas" class="map">

                    </div>
                    <ul class="list">
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0s">
                            <span>15 years</span>
                            <span>Experience</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <span>
                                <strong>over</strong> 30</span>
                            <span> Countries</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.6s">
                            <span>
                                <strong>over</strong> 30.000</span>
                            <span>satishfied patient</span>
                        </li>
                        <li class="wow slideInLeft" data-wow-offset="0" data-wow-duration="0.3s" data-wow-delay="0.9s">
                            <span>
                                <strong>over</strong> 400</span>
                            <span>Patient per month</span>
                        </li>
                    </ul>
                </div>



                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0s" data-accordion-slide="1">
                    <div class="inside" style="background-image: url(images/slide1.jpg);">
                        <h1>HAIR TRANSPLANT</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.3s" data-accordion-slide="2">
                    <div style="background-image:url(images/slide2.jpg);" class="inside">
                        <h1>WHOLE BODY SURGERY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="#" class="slide wow slideInLeft" data-wow-offset="0" data-wow-duration="1s" data-wow-delay="0.5s" data-accordion-slide="3">
                    <div class="inside" style="background-image: url(images/slide3.jpg);">
                        <h1>COSMETIC DENTISTRY</h1>
                        <div ng-if="desktop" class="hide-texts">
                            <h2>HAIR TRANSPLANT</h2>
                            <ul>
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <ul ng-if="mobile" class="slider-thumb">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Footer start-->
    @import "footer.html"
    <!-- Footer end -->
</body>

</html>