@font-face {
    font-family: 'SinkinSansLt';
    src: url('../fonts/SinkinSans-300Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SinkinSansRg';
    src: url('../fonts/SinkinSans-400Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SinkinSansBold';
    src: url('../fonts/SinkinSans-700Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SinkinSansBlack';
    src: url('../fonts/SinkinSans-800Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}