    @mixin breakpoint($point) {
        @if $point==huges {
            @media (max-width: 1366px) {
                @content;
            }
        }
        @else if $point==larges {
            @media (max-width: 1024px) {
                @content;
            }
        }
        @else if $point==mediums {
            @media (max-width: 768px) {
                @content;
            }
        }
        @else if $point==smalls {
            @media (max-width: 480px) {
                @content;
            }
        }
    }

    @mixin customBreakpoint ($point) {
        @media (max-width: $point) {
            @content;
        }
    } //VERTICAL ALIGN
    @mixin align {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @mixin vAlign {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @mixin hAlign {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @mixin h2After ($bgc) {
        content: ' ';
        display: block;
        width: 50px;
        height: 3px;
        background-color: $bgc;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    @mixin h2 {
        font-size: 18px;
        font-family: $bold_font;
        color: $gray_color;
        margin: 0;
    } 
    
    
    
    
    //limited texts
    @mixin limitTexts($height:1.2em, $gradient:linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%), $afterWidth:50%,$lineLenght:1) {
        overflow: hidden;
        position: relative;
        height: $height;
        display: -webkit-box;
        -webkit-line-clamp: $lineLenght;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        text-overflow: ellipsis;
        &:after {
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: $afterWidth;
            height: $height;
            background: $gradient;
        }
        @supports (-webkit-line-clamp: $lineLenght) {
            & {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: $lineLenght;
                -webkit-box-orient: vertical;
            }
            &:after {
                display: none;
            }
        }
    }

    %clearfix {
        display: inline-block;
        &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    }