//colors
$primary_color: #9b59b6;
$counter_color: #07a199;
$gray_color: #494949;
$light_gray_color: #7f7f7f;
$lighter_gray_color: #dedede;

//font families
$regular_font: 'SinkinSansRg', Helvetica, Arial, sans-serif;
$light_font: 'SinkinSansLt', Helvetica, Arial, sans-serif;
$bold_font: 'SinkinSansBold', Helvetica, Arial, sans-serif;
$black_font: 'SinkinSansBlack', Helvetica, Arial, sans-serif;
//font sizes

//padding sizes

//z-indexes

//widths

//heights

//border sizes

//lefts